apiVersion: 1

providers:
- name: 'ZFS Dashboard'
  orgId: 1
  folder: 'ZFS-Dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: True
  options:
    path: '{{ grafana_dashboards_path }}/zfs'