container_binary: podman
prometheus_listen_address: '' #To listen on all interfaces leave this empty
prometheus_port: 9091
prometheus_container_image: "docker.io/prom/prometheus:v2.7.2"
prometheus_container_cpu_period: 100000
prometheus_container_cpu_cores: 2
prometheus_container_memory: 4 # container_memory is in GB
prometheus_data_dir: /var/lib/prometheus
prometheus_storage_tsdb_retention_time: "30d"
prometheus_conf_dir: /etc/prometheus
prometheus_user_id: '65534'  # This is the UID used by the prom/prometheus container image
alertmanager_listen_address: '' #To listen on all interfaces leave this empty
alertmanager_port: 9093
alertmanager_cluster_port: 9094
alertmanager_container_image: "docker.io/prom/alertmanager:v0.16.2"
alertmanager_container_cpu_period: 100000
alertmanager_container_cpu_cores: 2
alertmanager_container_memory: 4 # container_memory is in GB
alertmanager_data_dir: /var/lib/alertmanager
alertmanager_conf_dir: /etc/alertmanager
alertmanager_smtp_host: localhost
alertmanager_smtp_port: 25
alertmanager_send_email: 'localhost@localhost'
alertmanager_receive_email:
  - 'localhost@localhost'
  - 'dummy@localhost'
