global:
  smtp_smarthost: {{ alertmanager_smtp_host }}:{{ alertmanager_smtp_port }}
  smtp_from: {{ alertmanager_send_email }}
  smtp_require_tls: {{ alertmanager_require_tls }}
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: email

receivers:
- name: email
  email_configs:
  - to: {{ alertmanager_receive_email }}
